.additional-info {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.additional-info h2 {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.additional-info__label {
  position: relative;
  margin-left: 25px;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    display: inline-flex;
    white-space: pre-line;
    overflow-x: visible;
    min-height: 40px;
    word-wrap: break-word;
    width: 200px;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    max-width: 350px;
  }
}

.additional-info__mark {
  position: absolute;
  left: -40px;
  display: block;
  height: 26px;
  width: 26px;
  border-radius: 10%;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    top: 0;
    left: -43px;
  }

  @media (min-width: @tablet-width) {
    top: 5px;
  }
}

.additional-info__input:checked + .additional-info__mark::before {
  content: "";
  display: block;
  width: 18px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 5px;
}

.additional-info__input:disabled + .additional-info__mark {
  opacity: 30%;
}

.additional-info__label:has(.additional-info__input:disabled) {
  opacity: 30%;
}
