.advantages {
  width: 100%;
}

.advantages__wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: @tablet-width) {
    align-items: center;
    padding: 20px 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    max-width: 1290px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 82px 38px 20px 38px;
  }
}

.advantages__item {
  list-style-type: none;
  position: relative;
  background-color: #f2f2f2;
  padding: 21px 33px 18px 20px;
  max-width: 280px;
  min-height: 266px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 63px 53px 52px;
    min-width: 708px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
    min-height: 360px;
    margin-bottom: 30px;
    padding: 41px 61px 55px 52px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 55px;
    display: block;
    width: 240px;
    height: 1px;
    left: 15px;
    background-color: #d9d9d9;

    @media (min-width: @tablet-width) {
      content: none;
    }
  }
}

.advantages__item--fit {
  padding-left: 20px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    padding-left: 54px;
    padding-top: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 48px;
    padding-left: 52px;
  }
}

.advantages__item svg {
  object-fit: cover;
}

.advantages__item h3 {
  position: relative;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 29px;
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    margin-top: 0;
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    max-width: 250px;
    overflow-y: hidden;
    min-height: 60px;
    vertical-align: middle;
    margin-bottom: 82px;
  }
}

.advantages__img--slim {
  display: inline-flex;
  width: 50px;
  height: 53px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 427px;
    top: 80px;
    width: 200px;
    height: 211px;
    font-size: 36px;
    line-height: 36px;
    order: 1;
    margin-right: 0;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    width: 100px;
    height: 106px;
    margin-right: 65px;
    margin-left: -5px;
    margin-bottom: 0;
  }
}

.advantages__img--fit {
  display: inline-flex;
  width: 67px;
  height: 50px;
  margin-right: 9px;
  margin-left: -6px;
  margin-top: 6px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 420px;
    margin-top: 0;
    top: 90px;
    width: 268px;
    height: 200px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    width: 134px;
    height: 105px;
    margin-right: 40px;
    margin-bottom: -6px;
    margin-left: -8px;
    margin-top: 0;
  }
}

.advantages__item p {
  display: block;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    max-width: 340px;
    font-size: 16px;
    margin-bottom: 53px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    min-width: 451px;
    font-size: 16px;
    line-height: 24px;
    margin-top: -20px;
    margin-bottom: 28px;
  }
}

.advantages__item--fit p {
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.advantages__item--slim p {
  @media (min-width: @desktop-width) {
    min-width: 460px;
  }
}

.advantages__item a {
  font-family: "Oswald", "Tahoma", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-height: 34px;
  max-width: 150px;
  overflow-y: hidden;

  &::after {
    content: "";
    display: block;
    margin-left: 17px;
    min-width: 24px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    transition: 0.1s ease forwards;

    @media (min-width: @tablet-width) {
      margin-left: 23px;
    }
  }

  &:hover::after {
    transform: scaleX(1.2) translateX(2px);
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    max-height: 50px;
    max-width: 170px;
    font-size: 20px;
    line-height: 29px;
  }
}

.advantages__item a:hover .advantages__item a::after {
  width: 50px;
}
