.card__item {
  padding: 20px;
  box-sizing: border-box;
  max-width: 320px;
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    position: relative;
    max-width: 324px;
    min-height: 491px;
    border-top: none;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: -20px;
      display: block;
      width: 324px;
      height: 450px;
      background-color: #eaeaea;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;

    &::after {
      width: 245px;
      height: 430px;
    }
  }

  &--show--more {
    box-sizing: border-box;
    padding: 25px 20px 0 20px;
    min-height: 207px;
    border-top: 1px solid #d9d9d9;
    cursor: pointer;

    &::after {
      content: none;
    }

    @media (min-width: @tablet-width) {
      max-width: 324px;
      max-height: 429px;
      border-top: none;
      padding-top: 50px;
      margin-top: 80px;

      &::after {
        content: "";
        z-index: -1;
        right: 0;
        bottom: -20px;
        display: block;
        width: 324px;
        height: 450px;
        border: #d9d9d9 1px solid;
        background-color: transparent;
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        content: "";
        z-index: -1;
        right: 0;
        bottom: -20px;
        display: block;
        width: 245px;
        height: 431px;
        border: #d9d9d9 1px solid;
        background-color: transparent;
      }
    }
  }
}

.card__item-wrapper {
  display: flex;
  align-items: end;
  margin-bottom: 17px;

  &:last-child {
    display: block;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    max-width: 170px;
    margin: 0 auto;
  }
}

.card__title {
  position: absolute;
  top: 0;
  right: -77px;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  max-width: 76px;
  max-height: 40px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    position: static;
    font-size: 20px;
    max-width: 135px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 140px;
    margin-bottom: 23.4px;
  }

  &--extra {
    position: static;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    flex-direction: column;
    align-items: center;
    max-width: 204px;
    font-size: 20px;
    max-height: none;
    overflow: unset;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
      line-height: 24px;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 23px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='15' x2='15' y2='30' stroke='%23D3D3D3' stroke-width='2'/%3E%3Cline x1='30' y1='15' y2='15' stroke='%23D3D3D3' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        width: 60px;
        height: 60px;
        background-size: cover;
        margin-bottom: 50px;
      }
    }
  }
}

.card__link {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  width: 280px;
  min-height: 40px;
  margin: 0 auto;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 169px;
  }

  &--extra {
    max-height: 250px;
    overflow-y: hidden;
    text-align: center;

    @media (min-width: @tablet-width) {
      margin: 0 auto;
      width: 170px;
      margin-bottom: 82px;
    }
  }

  &--order {
    @media (min-width: @tablet-width) {
      position: absolute;
      display: inline-flex;
      max-width: 250px;
      overflow-y: hidden;
      justify-content: center;
      align-items: center;
      bottom: 20px;
      right: 36px;
    }

    @media (min-width: @desktop-width) {
      width: 169px;
    }
  }
}

.card__link img {
  min-height: 100px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: 41px;
    width: 161px;
    min-height: 172px;
  }
}

.card__table {
  min-width: 140px;
  max-height: 48px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.card__category {
  display: flex;
  max-height: 25px;
  overflow-y: hidden;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px #cdcdcd;
  }
}

.card__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  margin: 0;
  color: #444444;
  max-height: 100px;
  overflow-y: hidden;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.card__button {
  position: relative;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 40px;
  border: 1px transparent solid;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 21px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 63px;
    right: -20px;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 250px;
    min-height: 40px;
    margin: 0 auto;

    &::after {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}
