.catalog__section {
  position: relative;
  padding: 27px 0 0 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    padding: 73px 30px 50px 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    padding: 40px 110px 55px 110px;
  }
}

.catalog__title {
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 41px;
  font-size: 36px;

  @media (min-width: @tablet-width) {
    max-width: 450px;
    margin: 0;
    padding: 0;
    font-size: 60px;
    margin-bottom: 90px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    margin-bottom: 85px;
    padding-left: 0;
    margin-top: -10px;
  }
}

.catalog__card {
  padding: 0;
  display: block;
  width: 100%;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    max-width: @desktop-width;
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
    grid-row-gap: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
  }
}

.catalog__extra {
  padding: 10px 20px 5px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1086px;
    padding-left: 90px;
    padding-right: 0;
    margin: 0;
  }
}

.catalog__container {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 56px;
    flex-direction: row;
    align-items: center;
  }

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    height: 1px;
    top: 27px;
    right: 0;
    width: 50%;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      width: 100%;
    }

    @media (min-width: @desktop-width) {
      content: none;
    }
  }
}

.catalog__center {
  @media (min-width: @desktop-width) {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 28px;
      z-index: -1;
      background-color: #68b738;
    }
  }
}
