.data {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 400px;
    margin-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 55px;
    max-width: 350px;
  }
}

.data__name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.data__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-top: 11px;
  }
}
