.data {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    max-width: 370px;
    margin-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
    max-width: 370px;
  }
}

.data__name {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 124px;
  min-height: 56px;
  border: 1px #cdcdcd solid;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 162px;
    min-height: 77px;
    line-height: 37px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    height: 77px;
  }
}

.data__description {
  position: absolute;
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  background-color: #eaeaea;
  bottom: -18px;
  left: 25px;
  width: 77px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    left: 43px;
    background-color: #ffffff;
    margin-top: 11px;
  }

  @media (min-width: @desktop-width) {
    background-color: #eaeaea;
    left: 20px;
    bottom: -5px;
    width: 125px;
  }
}
