.footer {
  background-color: #f2f2f2;
  padding: 40px 20px;
  box-sizing: border-box;
}

.footer__title {
  display: block;
  width: 128px;
  min-height: 24px;
  margin: 0 auto;
}

.footer__title svg {
  fill: #111111;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.footer__logo {
  font-family: "Lato-Regular", sans-serif;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  min-width: 280px;

  &:hover svg {
    fill: #68b738;
  }

  &:active {
    opacity: 30%;
  }

  &:active svg {
    fill: #68b738;
    opacity: 30%;
  }
}
