.footer {
  background-color: #f2f2f2;
  padding: 40px 20px;
  box-sizing: border-box;
}

.footer__title {
  display: block;
  width: 128px;
  min-height: 24px;
  margin: 0 auto;
}

.footer__title svg {
  fill: #111111;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.socials__item {
  list-style-type: none;
  margin-right: 24px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 28px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  justify-content: center;

  &--youtube svg {
    fill: #666666;
  }

  &--youtube:hover svg {
    fill: #68b738;
  }

  &--youtube:active svg {
    opacity: 30%;
  }

  &--vk svg {
    fill: #666666;
  }

  &--vk:hover svg {
    fill: #68b738;
  }

  &--vk:active svg {
    opacity: 30%;
  }

  &--tg svg {
    fill: #666666;
  }

  &--tg:hover svg {
    fill: #68b738;
  }

  &--tg:active svg {
    opacity: 30%;
  }
}

.socials__link svg {
  vertical-align: middle;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 10px;
  min-width: 132px;
}

.footer__logo {
  font-family: "Lato-Regular", sans-serif;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  min-width: 280px;

  &:hover svg {
    fill: #68b738;
  }

  &:active {
    opacity: 30%;
  }

  &:active svg {
    fill: #68b738;
    opacity: 30%;
  }
}
