.form {
  margin: 0;
  width: 100%;
}

.form__fieldset {
  border: 0;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  &--radio {
    position: relative;
    display: flex;
    padding: 31px 20px 23px 25px;
    width: 170px;

    @media (min-width: @tablet-width) {
      padding: 25px 27px;
      border: 1px solid #d9d9d9;
      min-height: 196px;
      width: 628px;
      margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
      padding: 31px 20px 20px 47px;
      margin: 0;
      max-width: 570px;
      justify-content: space-between;
    }
  }
}

.form__fieldset--text {
  max-width: 320px;

  @media (min-width: @tablet-width) {
    max-width: 760px;
    margin-bottom: 51px;
    padding: 0 70px 0 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 80px;
    margin-bottom: 0;
    min-width: 570px;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__fieldset--input {
  @media (min-width: @tablet-width) {
    padding: 0;
    padding-left: 35px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1250px;
    margin-right: 80px;
    padding-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__text-input--contacts {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    min-width: 552px;

    &::placeholder {
      font-size: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    min-width: 494px;
  }
}

.form__field-wrapper--contacts input {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500336 5.5V13.5H17.5041V5.5M0.500336 0.5H17.5041V2.5L9.00223 8.5L0.500336 2.5V0.5Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 95% 50%;

  @media (min-width: @tablet-width) {
    background-position: 97% 50%;
  }

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500336 5.5V13.5H17.5041V5.5M0.500336 0.5H17.5041V2.5L9.00223 8.5L0.500336 2.5V0.5Z' stroke='%2368B738' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:focus-visible,
  &:active {
    outline: 1px #000000 solid;
  }

  &:not(:placeholder-shown):invalid:focus {
    border: 1px #ff8282 solid;
    outline: 1px #ff8282 solid;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500336 5.5V13.5H17.5041V5.5M0.500336 0.5H17.5041V2.5L9.00223 8.5L0.500336 2.5V0.5Z' stroke='%23FF8282' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.form__field-wrapper--tel input {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0022 10H18.5041M18.5041 10L16.0036 7.5M18.5041 10L16.0036 12.5M8.50191 2.5V7.5H5.50124V12.5H8.50191V17.5H6.00135C4.50102 17.5 3.50079 16.5 3.50079 15V5C3.50079 3.5 4.50102 2.5 6.00135 2.5H8.50191Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 95% 50%;

  @media (min-width: @tablet-width) {
    background-position: 97% 50%;
  }

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0022 10H18.5041M18.5041 10L16.0036 7.5M18.5041 10L16.0036 12.5M8.50191 2.5V7.5H5.50124V12.5H8.50191V17.5H6.00135C4.50102 17.5 3.50079 16.5 3.50079 15V5C3.50079 3.5 4.50102 2.5 6.00135 2.5H8.50191Z' stroke='%2368B738' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:focus-visible {
    outline: 1px #000000 solid;
  }

  &:not(:placeholder-shown):invalid:focus {
    border: 1px #ff8282 solid;
    outline: 1px #ff8282 solid;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0022 10H18.5041M18.5041 10L16.0036 7.5M18.5041 10L16.0036 12.5M8.50191 2.5V7.5H5.50124V12.5H8.50191V17.5H6.00135C4.50102 17.5 3.50079 16.5 3.50079 15V5C3.50079 3.5 4.50102 2.5 6.00135 2.5H8.50191Z' stroke='%23FF8282' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.form__field-wrapper--tel .form__text-input--contacts {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    min-width: 472px;
  }
}

.form__fieldset--input p {
  margin-right: 0;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 628px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__label {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-right: 13px;
  flex-wrap: wrap;
  max-width: 200px;

  @media (min-width: @tablet-width) {
    max-width: 480px;
    line-height: 30px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.form__label .form__textarea::placeholder {
  align-self: flex-start;
  vertical-align: top;
}

.form__fieldset--radio .form__label {
  margin-bottom: 25px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
    margin-bottom: 23px;
  }
}

.form__wrapper--goal {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 187px;
    height: 1px;
    width: 100vw;
    background-color: #d9d9d9;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    bottom: -4px;
    min-width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    display: block;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.form__fieldset--radio label {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__field-wrapper {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;

  &:last-child {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
    min-height: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__text-input {
  border: #e7e7e7 1px solid;
  min-height: 45px;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 13px 13px 14px 16px;
  margin-right: auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 16px 13px 14px 19px;
    width: 100%;
    font-size: 20px;
    max-height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 20px;
  }

  &:focus {
    border: #000000 1px solid;
  }
}


.form__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0 20px;
  background-color: #ffffff;

  &--additional {
    margin-top: 5px;
    padding-left: 0;

    @media (min-width: @tablet-width) {
      display: block;
      margin-top: 0;
      padding: 0;
      padding-left: 35px;
      max-width: 250px;
      margin-bottom: 15px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      margin-bottom: 15px;
    }
  }

  &--comment {
    margin-top: -3px;

    @media (min-width: @tablet-width) {
      max-width: 223px;
      padding: 0;
      padding-left: 35px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      display: block;
      max-width: 549px;
      padding: 0;
      padding-left: 35px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.form__wrapper {
  width: 100%;
}

.form__contacts {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 45px;
    right: 0;
    width: 29%;
    height: 1px;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      z-index: -1;
      width: 100%;
      top: 87px;
    }

    @media (min-width: @desktop-width) {
      width: 60%;
      top: 33px;
    }
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      display: block;
      top: 33px;
      left: 0;
      width: 5%;
      height: 1px;
      background-color: #68b738;
    }
  }
}

.form__comment {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      z-index: -1;
      width: 100%;
      top: 63px;
    }

    @media (min-width: @desktop-width) {
      top: 89px;
      width: 78%;
    }
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      display: block;
      top: 89px;
      left: 0;
      width: 5%;
      height: 1px;
      background-color: #68b738;
    }
  }
}

.form__additional-info {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    right: 0;
    width: 45%;
    height: 1px;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      z-index: -1;
      width: 100%;
      top: 20px;
    }

    @media (min-width: @desktop-width) {
      width: 78%;
      top: 18px;
    }
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      display: block;
      top: 16px;
      left: 0;
      width: 5%;
      height: 1px;
      background-color: #68b738;
    }
  }
}

.form__fieldset--checkbox {
  padding: 34px 0 20px 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-column-gap: 120px;
    grid-row-gap: 14px;
    margin-bottom: 33px;
    margin-right: 13px;
    margin-left: 93px;
    margin-top: 65px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 221px);
    grid-column-gap: 105px;
    margin-left: 59px;
    margin-right: 0;
    padding: 0 0 40px 0;
    margin-bottom: 0;
    margin-top: 62px;
  }
}

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  padding: 14px;
  box-sizing: border-box;
  margin-left: 20px;

  &::placeholder {
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: #444444;
    text-transform: uppercase;
    vertical-align: top;

    @media (min-width: @tablet-width) {
      line-height: 30px;
      font-size: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 628px;
    margin-left: 40px;
    min-height: 180px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
    margin-left: 0;
    padding-top: 8px;
    padding-left: 20px;
  }
}

.form__button--submit {
  font-size: 16px;
  margin-bottom: 21px;
  margin-top: -3px;
  min-width: 280px;
  height: 40px;

  @media (min-width: @tablet-width) {
    width: 284px;
    margin-bottom: 0;
    font-size: 20px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__button-wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 628px;
    display: flex;
    min-height: 52px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
    margin-bottom: 80px;
    min-height: 50px;
  }
}

.form__note {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
    margin-bottom: 7px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    text-align: left;
    margin-left: 78px;
  }
}

.form__mark--radio {
  position: absolute;
  left: -20px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    left: 20px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    left: 25px;
  }
}

.form__radio:checked + .form__mark--radio::before {
  content: "";
  display: block;
  margin-top: 9px;
  margin-left: 8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  @media (min-width: @tablet-width) {
    width: 15px;
    height: 15px;
    margin-left: 13px;
    margin-top: 13px;
  }
}

.form__radio:hover + .form__mark--radio {
  border: 1px solid #bababa;
}

.form__radio:disabled + .form__mark--radio::before,
.form__radio:disabled + .form__mark--radio,
.form__label:has(.form__radio:disabled) {
  opacity: 30%;
}

.form__radio:focus + .form__mark--radio {
  border: 1px solid #000000;
}

.form__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    word-wrap: break-word;
    min-height: 40px;
    width: 300px;
  }
}
