.form {
  padding: 0 20px 32px 20px;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &--radio {
    padding: 22px 0 19px 0;
  }
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}

.form__fieldset--radio label {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__field-wrapper {
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.form__text-input {
  border: #e7e7e7 1px solid;
  min-height: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 14px 15px;
  margin-right: auto;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__wrapper--contacts {
  padding-top: 26px;
}

.form__wrapper--contacts h2 {
  margin-bottom: 35px;
}

.form__wrapper--comment h2 {
  margin-bottom: 38px;
}

.form__textarea {
  width: 280px;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  padding: 14px 15px;
  box-sizing: border-box;
  vertical-align: top;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: #444444;
    text-transform: uppercase;
  }
}

.form__button--submit {
  margin-bottom: 21px;
}

.form__note {
  display: block;
  min-width: 100%;
  margin: 0 auto;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
}
