.form-page {
  padding-top: 27px;
}

.form-page__title {
  margin-top: 0;
  padding: 0 20px 0 20px;
  margin-bottom: 37px;
  box-sizing: border-box;
}

.form-page__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 39px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

