.hero {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__header {
  position: relative;
  background-color: #68b738;
  width: 320px;
  min-height: 302px;
  padding: 27px 35px;
  box-sizing: border-box;
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-position: 100% auto;
  opacity: 85%;
  flex-grow: 1;
}

.hero__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #68b738;
  opacity: 85%;
  height: 100%;
  width: 320px;
  z-index: -1;
}

.hero__title {
  display: block;
  font-weight: 400;
  max-width: 250px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  box-sizing: border-box;
  letter-spacing: 0;
}

.hero__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__link {
  padding: 10px 44px 10px 44px;
  margin-top: 138px;
}

.hero__container {
  position: relative;
}

.hero__image {
  position: absolute;
  left: 30px;
  bottom: 40px;
}
