.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  box-sizing: border-box;
}

.main-header a {
  display: inline-flex;
}

.main-header__title {
  vertical-align: middle;
  align-items: center;

  &:hover svg {
    fill: #3e3e3e;
  }

  &:active svg {
    fill: #6b6b6b;
  }
}

