.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  box-sizing: border-box;
}

.main-header a {
  display: inline-flex;
}

.main-header__title {
  vertical-align: middle;
  align-items: center;

  &:hover svg {
    fill: #3e3e3e;
  }

  &:active svg {
    fill: #6b6b6b;
  }
}

.main-nav__list--show {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  min-height: 64px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.logo {
  margin: 0;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 50%;
  }
}

