.main-nav {
  position: relative;
  display: inline-flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    position: static;
    margin-left: 94px;
  }

  @media (min-width: @desktop-width) {
    align-items: end;
    color: #ffffff;
  }
}

.main-nav__item--close:not(:last-child) {
  @media (max-width: @tablet-width) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__item--close:first-child {
  @media (max-width: @tablet-width) {
    margin-top: 10px;
    border-top: 1px solid #e6e6e6;
  }
}

.main-nav__item--close:last-child {
  @media (max-width: @tablet-width) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__item a {
  display: block;
  color: #000000;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    text-decoration: none;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
    max-height: 50px;
  }
}

.main-nav--black a {
  color: #000000;
}

.main-nav__list--close {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: 5px;
  z-index: 5;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 -0.727046 0.686589 0.727046 2.00171 20)' stroke='black' stroke-width='1.5'/%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 0.727046 -0.686589 0.727046 1 2)' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav:has(.main-nav__list--close) .main-nav__toggle {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='3' x2='24' y2='3' stroke='black' stroke-width='2'/%3E%3Cline y1='11' x2='24' y2='11' stroke='black' stroke-width='2'/%3E%3Cline y1='19' x2='24' y2='19' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.main-nav__list {
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    min-width: 436px;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    max-width: 550px;
    overflow-y: hidden;
    max-height: 100px;
  }
}

.main-nav__item {
  position: relative;
  font-family: "Oswald", "Tahoma", sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
  vertical-align: bottom;

  @media (max-width: 767px) {
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    min-height: 66px;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 33px;
    font-size: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--line {
    @media (min-width: @tablet-width) {
      min-height: 34px;
      margin-top: 20px;
      border-bottom: 2px solid #68b738;
    }

    @media (min-width: @desktop-width) {
      border-bottom: 2px solid #ffffff;
    }
  }

  &--green {
    @media (min-width: @tablet-width) {
      min-height: 34px;
      margin-top: 20px;
      border-bottom: 2px solid #68b738;
    }
  }
}
