.main-nav {
  position: relative;
  display: inline-flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: static;
    margin-left: 94px;
  }

  @media (min-width: @desktop-width) {
    align-items: end;
    color: #ffffff;
  }
}

.main-nav__item::after {
  content: "";
  position: absolute;
  top: 65px;
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.main-nav__item:first-child::before {
  content: "";
  top: 8px;
  position: absolute;
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.main-nav__item a {
  display: flex;
  color: #000000;
  text-decoration: none;
  max-height: 55px;
  max-width: 280px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    overflow: visible;
    max-height: none;
    max-width: none;
    height: 100%;
    padding: 6px 0;
    text-decoration: none;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.main-nav--black a {
  color: #000000;
}

.main-nav__list--close {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -30px;
  right: 5px;
  z-index: 5;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 -0.727046 0.686589 0.727046 2.00171 20)' stroke='black' stroke-width='1.5'/%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 0.727046 -0.686589 0.727046 1 2)' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav:has(.main-nav__list--close) .main-nav__toggle {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='3' x2='24' y2='3' stroke='black' stroke-width='2'/%3E%3Cline y1='11' x2='24' y2='11' stroke='black' stroke-width='2'/%3E%3Cline y1='19' x2='24' y2='19' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.main-nav__list {
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    min-width: 420px;
    align-items: center;
    font-size: 18px;
    justify-content: start;
    vertical-align: middle;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 110px;
    width: 485px;
  }
}

.main-nav__list--index {
  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
      width: 50vw;
      left: -125px;
      top: -55px;
      height: 100%;
      background-color: #599e2e;
    }
  }
}

.main-nav__item {
  position: relative;
  font-family: "Oswald", "Tahoma", sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
  vertical-align: bottom;
  border-bottom: 2px transparent solid;

  @media (max-width: 767px) {
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 66px;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 33px;
    font-size: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }

  &--line {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid #68b738;
    }

    @media (min-width: @desktop-width) {
      border-bottom: 2px solid #ffffff;
    }
  }

  &--green {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid #68b738;
    }
  }

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 50%;
  }
}
