.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 13px 20px 0 20px;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    min-width: 704px;
    min-height: 50px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 25px 29px 0 29px;
    border-bottom: transparent;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 110px 0 110px;
    border-bottom: transparent;
  }
}

.main-header a {
  display: inline-flex;
}

.main-header__title {
  margin-right: 80px;
  vertical-align: middle;
  align-items: center;

  &:hover svg {
    fill: #3e3e3e;
  }

  &:active svg {
    fill: #6b6b6b;
  }

  @media (min-width: @tablet-width) {
    margin-right: auto;
    padding-left: 13px;
  }
}
