.present {
  position: relative;
  padding: 29px 20px 35px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    padding: 29px 0;
    max-width: 710px;
    margin-top: 40px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    max-height: 288px;
    min-width: 245px;
    margin-top: 75px;
    margin-left: 58px;
    margin-bottom: 47px;
  }
}

.present__wrapper {
  position: relative;
  height: 290px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 60px 43px 60px;
  background-color: #68b738;
  box-sizing: border-box;
  background-image: url("../img/present/present-cat-mobile-1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-position: center;
    background-size: contain;
    background-image: url("../img/present/present-cat-mobile-2x.jpg");
  }

  @media (min-width: @tablet-width) {
    justify-content: center;
    padding: 50px 60px 43px 60px;
    height: 200px;
    width: 708px;
    background-image: url("../img/present/present-cat-tablet-1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present/present-cat-tablet-2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: end;
    padding: 0 42px 47px 42px;
    height: 288px;
    width: 245px;
    background-image: url("../img/present/present-cat-desktop-1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present/present-cat-desktop-2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 280px;
    height: 290px;
    background-color: #68b738;
    opacity: 85%;
    top: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 707px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
      height: 288px;
    }
  }
}

.present__description {
  display: flex;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  z-index: 1;
  vertical-align: middle;
  width: 185px;
  max-height: 200px;
  overflow-y: hidden;

  @media (min-width: @tablet-width) {
    overflow-y: hidden;
    display: inline-flex;
    text-align: left;
    max-width: 161px;
    margin-left: 362px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 165px;
    text-align: center;
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 100px;
    display: block;
    width: 80px;
    height: 83px;
    background-image: url("../img/present/present-icon.svg");

    @media (min-width: @tablet-width) {
      left: 80px;
    }
  }
}
