.recommendation {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
  box-sizing: border-box;
}

.recommendation__title {
  margin-bottom: 40px;
}

.recommendation__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
}

.recommendation__budget {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
